Raspberry Pi 4/Config/node_red_flows.json
[
    {
        "id": "b7a107d93899fae7",
        "type": "tab",
        "label": "Greenhouse Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "531b329e927e962d",
        "type": "tab",
        "label": "Day Simulation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "749b473ca27a8a87",
        "type": "tab",
        "label": "Automation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "46bcdc0d2dd728d0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e50e7b77f3a150a6",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "0125677c81d775ca",
        "type": "ui-theme",
        "name": "dark",
        "colors": {
            "surface": "#047c28",
            "primary": "#c2fff5",
            "bgPage": "#013c02",
            "groupBg": "#036821",
            "groupOutline": "#000000"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "de21601ad7ef26c4",
        "type": "ui-page",
        "name": "Greenhouse Control",
        "ui": "e50e7b77f3a150a6",
        "path": "/control",
        "icon": "home",
        "layout": "grid",
        "theme": "0125677c81d775ca",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e1ae0c249d106ca8",
        "type": "ui-page",
        "name": "Automation",
        "ui": "e50e7b77f3a150a6",
        "path": "/automation",
        "icon": "home",
        "layout": "grid",
        "theme": "0125677c81d775ca",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "11ba91dfcf65032b",
        "type": "ui-group",
        "name": "Relay control",
        "page": "de21601ad7ef26c4",
        "width": "2",
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "cc29c92e7d2fb069",
        "type": "ui-group",
        "name": "LED Lights",
        "page": "de21601ad7ef26c4",
        "width": "4",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d026c48872b07921",
        "type": "ui-group",
        "name": "Motor Control",
        "page": "de21601ad7ef26c4",
        "width": "4",
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "dfdc3461938392f4",
        "type": "ui-group",
        "name": "Heat Lamps",
        "page": "de21601ad7ef26c4",
        "width": "2",
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8a2440550e62109e",
        "type": "ui-group",
        "name": "Day Simulation",
        "page": "de21601ad7ef26c4",
        "width": 6,
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "dcae5b5dc522cf4d",
        "type": "ui-group",
        "name": "Automation",
        "page": "e1ae0c249d106ca8",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b27578bb17860b57",
        "type": "ui-spacer",
        "group": "11ba91dfcf65032b",
        "name": "spacer",
        "tooltip": "",
        "order": 3,
        "width": "4",
        "height": 1,
        "className": ""
    },
    {
        "id": "a4149f1a6b0fe3a3",
        "type": "ui-spacer",
        "group": "8a2440550e62109e",
        "name": "spacer",
        "tooltip": "",
        "order": 2,
        "width": "1",
        "height": 1,
        "className": ""
    },
    {
        "id": "df29dea1c3f5b29a",
        "type": "ui-spacer",
        "group": "8a2440550e62109e",
        "name": "spacer",
        "order": 7,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "df30e91033c1184a",
        "type": "ui-spacer",
        "group": "cc29c92e7d2fb069",
        "name": "spacer",
        "order": 3,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "64c2da368631f7f4",
        "type": "mqtt out",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/ventilation",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "46bcdc0d2dd728d0",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "63323da8ac0b9454",
        "type": "mqtt out",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/frontwindow",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "46bcdc0d2dd728d0",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "d5d78c265d526d98",
        "type": "mqtt out",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/backwindow",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "46bcdc0d2dd728d0",
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "bffcd7881031efd1",
        "type": "mqtt out",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/yellowlight",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "46bcdc0d2dd728d0",
        "x": 740,
        "y": 40,
        "wires": []
    },
    {
        "id": "89824ee34c89019a",
        "type": "mqtt out",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/purplelight",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "46bcdc0d2dd728d0",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "de890fe74c14f8a7",
        "type": "mqtt out",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/pump",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "46bcdc0d2dd728d0",
        "x": 730,
        "y": 520,
        "wires": []
    },
    {
        "id": "2afb46c95e830677",
        "type": "mqtt out",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/leftlamp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "46bcdc0d2dd728d0",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "3c887344284b0281",
        "type": "mqtt out",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/rightlamp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "46bcdc0d2dd728d0",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "c4ccba56c5e88fc3",
        "type": "mqtt out",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/middlelamp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "46bcdc0d2dd728d0",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "1db7235681f28217",
        "type": "mqtt out",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/blinder",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "46bcdc0d2dd728d0",
        "x": 730,
        "y": 580,
        "wires": []
    },
    {
        "id": "ba955600cf61c19f",
        "type": "mqtt in",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/yellowlight",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "46bcdc0d2dd728d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 40,
        "wires": [
            [
                "5303d7f0ead323a5"
            ]
        ]
    },
    {
        "id": "a03772d18a4a359b",
        "type": "mqtt in",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/purplelight",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "46bcdc0d2dd728d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "28dce5157e8871b8"
            ]
        ]
    },
    {
        "id": "c7e1b4a9bb1a1124",
        "type": "mqtt in",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/leftlamp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "46bcdc0d2dd728d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "918d12ca017be2e9"
            ]
        ]
    },
    {
        "id": "f8e2bd2e49f3e164",
        "type": "mqtt in",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/middlelamp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "46bcdc0d2dd728d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "7131748388f7e0ce"
            ]
        ]
    },
    {
        "id": "caf4789aa41ecedc",
        "type": "mqtt in",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/rightlamp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "46bcdc0d2dd728d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 280,
        "wires": [
            [
                "3e69cc5596807c60"
            ]
        ]
    },
    {
        "id": "57393fd62cae52c4",
        "type": "mqtt in",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/ventilation",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "46bcdc0d2dd728d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "bed5e8ce9f275cbd"
            ]
        ]
    },
    {
        "id": "25183f44d2735ad9",
        "type": "mqtt in",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/frontwindow",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "46bcdc0d2dd728d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 400,
        "wires": [
            [
                "108dfc45b59d46e8"
            ]
        ]
    },
    {
        "id": "105aaea4f8994db0",
        "type": "mqtt in",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/backwindow",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "46bcdc0d2dd728d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 460,
        "wires": [
            [
                "e21d4dc322f5c831"
            ]
        ]
    },
    {
        "id": "6134a08249434af7",
        "type": "mqtt in",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/pump",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "46bcdc0d2dd728d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "efc963455dce7e2a"
            ]
        ]
    },
    {
        "id": "42198fb45eaefdb3",
        "type": "mqtt in",
        "z": "b7a107d93899fae7",
        "name": "",
        "topic": "greenhouse/blinder",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "46bcdc0d2dd728d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 580,
        "wires": [
            [
                "515c83ddb140cf74"
            ]
        ]
    },
    {
        "id": "515c83ddb140cf74",
        "type": "ui-button-group",
        "z": "b7a107d93899fae7",
        "name": "",
        "group": "d026c48872b07921",
        "order": 1,
        "width": 6,
        "height": 1,
        "label": "blinder",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "close",
                "icon": "",
                "value": "close",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "stop",
                "icon": "",
                "value": "stop",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "open",
                "icon": "",
                "value": "open",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 580,
        "wires": [
            [
                "1db7235681f28217"
            ]
        ]
    },
    {
        "id": "5303d7f0ead323a5",
        "type": "ui-slider",
        "z": "b7a107d93899fae7",
        "group": "cc29c92e7d2fb069",
        "name": "",
        "label": "yellow light",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 510,
        "y": 40,
        "wires": [
            [
                "bffcd7881031efd1"
            ]
        ]
    },
    {
        "id": "28dce5157e8871b8",
        "type": "ui-slider",
        "z": "b7a107d93899fae7",
        "group": "cc29c92e7d2fb069",
        "name": "",
        "label": "purple light",
        "tooltip": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "80",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 510,
        "y": 100,
        "wires": [
            [
                "89824ee34c89019a"
            ]
        ]
    },
    {
        "id": "bed5e8ce9f275cbd",
        "type": "ui-switch",
        "z": "b7a107d93899fae7",
        "name": "",
        "label": "ventilation",
        "group": "11ba91dfcf65032b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 500,
        "y": 340,
        "wires": [
            [
                "64c2da368631f7f4"
            ]
        ]
    },
    {
        "id": "108dfc45b59d46e8",
        "type": "ui-switch",
        "z": "b7a107d93899fae7",
        "name": "",
        "label": "front window",
        "group": "d026c48872b07921",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 510,
        "y": 400,
        "wires": [
            [
                "63323da8ac0b9454"
            ]
        ]
    },
    {
        "id": "e21d4dc322f5c831",
        "type": "ui-switch",
        "z": "b7a107d93899fae7",
        "name": "",
        "label": "back window",
        "group": "d026c48872b07921",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 510,
        "y": 460,
        "wires": [
            [
                "d5d78c265d526d98"
            ]
        ]
    },
    {
        "id": "efc963455dce7e2a",
        "type": "ui-switch",
        "z": "b7a107d93899fae7",
        "name": "",
        "label": "pump",
        "group": "11ba91dfcf65032b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 490,
        "y": 520,
        "wires": [
            [
                "de890fe74c14f8a7"
            ]
        ]
    },
    {
        "id": "918d12ca017be2e9",
        "type": "ui-switch",
        "z": "b7a107d93899fae7",
        "name": "",
        "label": "left lamp",
        "group": "dfdc3461938392f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 500,
        "y": 160,
        "wires": [
            [
                "2afb46c95e830677"
            ]
        ]
    },
    {
        "id": "7131748388f7e0ce",
        "type": "ui-switch",
        "z": "b7a107d93899fae7",
        "name": "",
        "label": "middle lamp",
        "group": "dfdc3461938392f4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "c4ccba56c5e88fc3"
            ]
        ]
    },
    {
        "id": "3e69cc5596807c60",
        "type": "ui-switch",
        "z": "b7a107d93899fae7",
        "name": "",
        "label": "right lamp",
        "group": "dfdc3461938392f4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 500,
        "y": 280,
        "wires": [
            [
                "3c887344284b0281"
            ]
        ]
    },
    {
        "id": "e998ebbeed29b29f",
        "type": "function",
        "z": "531b329e927e962d",
        "name": "simulation speed",
        "func": "let active = flow.get(\"simulation_active\") ?? false;\nlet hour = flow.get(\"simulation_hour\") ?? -1;\nlet speed = flow.get(\"simulation_speed\") ?? 1000;\n\nif (active === true){\n    hour = (hour + 1) % 24;\n    flow.set(\"simulation_hour\", hour);\n    msg.payload = hour;\n    msg.delay = speed\n    return msg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 220,
        "wires": [
            [
                "775835a67f56d7a1",
                "3d02f316e14909dd",
                "177fdbf1a22b65b7"
            ]
        ]
    },
    {
        "id": "3d02f316e14909dd",
        "type": "delay",
        "z": "531b329e927e962d",
        "name": "delay node",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 810,
        "y": 220,
        "wires": [
            [
                "e998ebbeed29b29f"
            ]
        ]
    },
    {
        "id": "11b7f39fc1d7b8eb",
        "type": "change",
        "z": "531b329e927e962d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "simulation_speed",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "5c9a7db7c212ac7c",
        "type": "change",
        "z": "531b329e927e962d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "simulation_active",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a24238586f19d980",
        "type": "change",
        "z": "531b329e927e962d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "simulation_active",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "e998ebbeed29b29f"
            ]
        ]
    },
    {
        "id": "177fdbf1a22b65b7",
        "type": "function",
        "z": "531b329e927e962d",
        "name": "simulation schedule",
        "func": "const hour = msg.payload;\nconst schedule = {\n    0: [\n        {topic: \"greenhouse/yellowlight\", payload: \"100\"},\n        {topic: \"greenhouse/purplelight\", payload: \"80\"},\n        {topic: \"greenhouse/ventilation\", payload: \"true\"}\n\n    ],\n    6: [\n        {topic: \"greenhouse/leftlamp\", payload: \"true\"},\n        {topic: \"greenhouse/yellowlight\", payload: \"0\"},\n        {topic: \"greenhouse/purplelight\", payload: \"0\"}\n    ],\n    10: [\n        {topic: \"greenhouse/middlelamp\", payload: \"true\"}\n    ],\n    12: [\n        {topic: \"greenhouse/rightlamp\", payload: \"true\"},\n        {topic: \"greenhouse/frontwindow\", payload: \"true\"},\n        {topic: \"greenhouse/backwindow\", payload: \"true\"}\n    ],\n    14: [\n        {topic: \"greenhouse/leftlamp\", payload: \"false\"}\n    ],\n    16: [\n        {topic: \"greenhouse/middlelamp\", payload: \"false\"}\n    ],\n    17: [\n        {topic: \"greenhouse/frontwindow\", payload: \"false\"},\n        {topic: \"greenhouse/backwindow\", payload: \"false\"}\n    ],\n    20: [\n        {topic: \"greenhouse/rightlamp\", payload: \"false\"},\n        {topic: \"greenhouse/yellowlight\", payload: \"100\"},\n        {topic: \"greenhouse/purplelight\", payload: \"80\"}\n    ]\n};\n\nif (schedule[hour]) {\n    schedule[hour].forEach(item => {\n        node.send({topic: item.topic, payload: item.payload});\n    });\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 160,
        "wires": [
            [
                "06e6890ef2e744ab"
            ]
        ]
    },
    {
        "id": "06e6890ef2e744ab",
        "type": "mqtt out",
        "z": "531b329e927e962d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "46bcdc0d2dd728d0",
        "x": 950,
        "y": 160,
        "wires": []
    },
    {
        "id": "c3d73f966040fa8f",
        "type": "function",
        "z": "531b329e927e962d",
        "name": "reset simulation",
        "func": "flow.set(\"simulation_hour\", -1)\n\nconst reset = [\n    {topic: \"greenhouse/leftlamp\", payload: \"false\"},\n    {topic: \"greenhouse/middlelamp\", payload: \"false\"},\n    {topic: \"greenhouse/rightlamp\", payload: \"false\"},\n    {topic: \"greenhouse/yellowlight\", payload: \"0\"},\n    {topic: \"greenhouse/purplelight\", payload: \"0\"},\n    {topic: \"greenhouse/frontwindow\", payload: \"false\"},\n    {topic: \"greenhouse/backwindow\", payload: \"false\"},\n    {topic: \"greenhouse/ventilation\", payload: \"false\"}\n]\n\nreset.forEach(item => {\n        node.send({topic: item.topic, payload: item.payload});\n    });\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 380,
        "wires": [
            [
                "a306969ee3db8c32"
            ]
        ]
    },
    {
        "id": "a306969ee3db8c32",
        "type": "mqtt out",
        "z": "531b329e927e962d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "46bcdc0d2dd728d0",
        "x": 550,
        "y": 380,
        "wires": []
    },
    {
        "id": "58db2a114d8d12a2",
        "type": "link in",
        "z": "531b329e927e962d",
        "name": "link in 1",
        "links": [
            "e6a3d03782c43d39"
        ],
        "x": 595,
        "y": 80,
        "wires": [
            [
                "775835a67f56d7a1"
            ]
        ]
    },
    {
        "id": "e6a3d03782c43d39",
        "type": "link out",
        "z": "531b329e927e962d",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "58db2a114d8d12a2"
        ],
        "x": 495,
        "y": 440,
        "wires": []
    },
    {
        "id": "990f3dde56ea5ac3",
        "type": "function",
        "z": "531b329e927e962d",
        "name": "set clock to 0",
        "func": "msg.payload = 0\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 440,
        "wires": [
            [
                "e6a3d03782c43d39"
            ]
        ]
    },
    {
        "id": "e934558916f44fe2",
        "type": "ui-button",
        "z": "531b329e927e962d",
        "group": "8a2440550e62109e",
        "name": "",
        "label": "Start Simulation",
        "order": 5,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "a24238586f19d980"
            ]
        ]
    },
    {
        "id": "2395399a89b79337",
        "type": "ui-button",
        "z": "531b329e927e962d",
        "group": "8a2440550e62109e",
        "name": "",
        "label": "Stop Simulation",
        "order": 6,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "5c9a7db7c212ac7c"
            ]
        ]
    },
    {
        "id": "3f9a0d3b96b232a4",
        "type": "ui-button",
        "z": "531b329e927e962d",
        "group": "8a2440550e62109e",
        "name": "",
        "label": "reset",
        "order": 8,
        "width": "4",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "c3d73f966040fa8f",
                "990f3dde56ea5ac3"
            ]
        ]
    },
    {
        "id": "6d849e3fc73a248a",
        "type": "ui-slider",
        "z": "531b329e927e962d",
        "group": "8a2440550e62109e",
        "name": "",
        "label": "speed",
        "tooltip": "",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "simulation_speed",
        "topicType": "flow",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "500",
        "max": "3000",
        "step": "100",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 210,
        "y": 100,
        "wires": [
            [
                "11b7f39fc1d7b8eb",
                "9d48a4bfe0193620"
            ]
        ]
    },
    {
        "id": "775835a67f56d7a1",
        "type": "ui-text",
        "z": "531b329e927e962d",
        "group": "8a2440550e62109e",
        "order": 3,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Time: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload & \":00h\"",
        "valueType": "jsonata",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "9d48a4bfe0193620",
        "type": "ui-text",
        "z": "531b329e927e962d",
        "group": "8a2440550e62109e",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Simulation Speed:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "48",
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "\"1 hour / \" & $formatNumber(payload / 1000, \"0.0\") & \" seconds\"",
        "valueType": "jsonata",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "1ddd955cf28d2381",
        "type": "function",
        "z": "749b473ca27a8a87",
        "name": "automation logic",
        "func": "if (msg.payload.hőmérséklet !== undefined) flow.set(\"current_temperature\", msg.payload.hőmérséklet);\nif (msg.payload.páratartalom !== undefined) flow.set(\"current_humidity\", msg.payload.páratartalom);\nif (msg.payload.fényerő_jobb !== undefined) flow.set(\"current_lux\", msg.payload.fényerő_jobb);\nif (msg.payload.co2_ppm !== undefined) flow.set(\"current_co2\", msg.payload.co2_ppm);\nif (msg.payload.tvoc_ppb !== undefined) flow.set(\"current_tvoc\", msg.payload.tvoc_ppb);\nif (msg.payload.talaj_nedvesség_százalék !== undefined) flow.set(\"current_moisture\", msg.payload.talaj_nedvesség_százalék);\n\nif (!(flow.get(\"automation_active\") ?? false)) return null;\n\nlet hour = new Date().getHours();\nlet minutes = new Date().getMinutes();\nlet temperature = flow.get(\"current_temperature\") || 22;\nlet humidity = flow.get(\"current_humidity\") || 30;\nlet lux = flow.get(\"current_lux\") || 2000;\nlet co2 = flow.get(\"current_co2\") || 400;\nlet tvoc = flow.get(\"current_tvoc\") || 0;\nlet moisture = flow.get(\"current_moisture\") || 89;\n\nlet temperature_minimum = flow.get(\"temperature_minimum\") || 18;\nlet temperature_maximum = flow.get(\"temperature_maximum\") || 25;\nlet humidity_maximum = flow.get(\"humidity_maximum\") || 70;\nlet lux_minimum = flow.get(\"lux_minimum\") || 1000;\nlet lux_maximum = flow.get(\"lux_maximum\") || 10000;\nlet daylight_start = flow.get(\"daylight_start\") || 7;\nlet daylight_end = flow.get(\"daylight_end\") || 21;\nlet moisture_threshold = flow.get(\"moisture_threshold\") || 55;\n\nlet ventilation_needed = flow.get(\"ventilation_active\") || false;\nlet window_open = flow.get(\"window_active\") || false;\nlet heating_on = flow.get(\"heating_active\") || false;\nlet led_lights_on = flow.get(\"led_lights_active\") || false;\nlet pump_on = false;\n\nlet is_daylight = (hour >= daylight_start && hour < daylight_end);\nlet air_circulation = (minutes < 10);\nlet morning_ventilation = (hour === daylight_start && minutes < 5);\nlet night_ventilation = (hour === daylight_end && minutes < 5);\nlet moisture_check = (hour === daylight_start && minutes === 10);\nlet watered_today = flow.get(\"watered_today\") || false;\n\nlet effective_minimum_temperature = is_daylight ? temperature_minimum : (temperature_minimum - 4);\n\nif (temperature > temperature_maximum || humidity > humidity_maximum || co2 > 1000 || tvoc > 300 || air_circulation) {\n    ventilation_needed = true;\n}\nelse if (temperature < (temperature_maximum - 2) && humidity < (humidity_maximum - 5) && co2 < 800 && tvoc < 150 && !air_circulation) {\n    ventilation_needed = false;\n}\n\nif (temperature > temperature_maximum || humidity > humidity_maximum || co2 > 1000 || tvoc > 300 || morning_ventilation || night_ventilation) {\n    window_open = true;\n}\nelse if (temperature < (temperature_maximum - 2) && humidity < (humidity_maximum - 5) && co2 < 800 && tvoc < 150 && !morning_ventilation && !night_ventilation) {\n    window_open = false;\n}\n\nif (temperature < effective_minimum_temperature) {\n    heating_on = true;\n}\nelse if (temperature > (effective_minimum_temperature + 2)) {\n    heating_on = false;\n}\n\nif (is_daylight) {\n    if (lux < lux_minimum) {\n        led_lights_on = true;\n    } else if (lux > lux_maximum) {\n        led_lights_on = false;\n    }\n} else {\n    led_lights_on = false;\n}\n\nif (moisture_check && moisture < moisture_threshold && !watered_today) {\n    pump_on = true;\n    flow.set(\"watered_today\", true);\n}\n\nif (hour === daylight_end && minutes === 0) {\n    flow.set(\"watered_today\", false);\n}\n\nflow.set(\"ventilation_active\", ventilation_needed);\nflow.set(\"window_active\", window_open);\nflow.set(\"heating_active\", heating_on);\nflow.set(\"led_lights_active\", led_lights_on);\n\nnode.send([\n    { topic: \"greenhouse/ventilation\", payload: ventilation_needed ? \"true\" : \"false\" },\n    { topic: \"greenhouse/frontwindow\", payload: window_open ? \"true\" : \"false\" },\n    { topic: \"greenhouse/backwindow\", payload: window_open ? \"true\" : \"false\" },\n    { topic: \"greenhouse/leftlamp\",    payload: heating_on ? \"true\" : \"false\" },\n    { topic: \"greenhouse/middlelamp\",  payload: heating_on ? \"true\" : \"false\" },\n    { topic: \"greenhouse/rightlamp\",   payload: heating_on ? \"true\" : \"false\" },\n    { topic: \"greenhouse/yellowlight\", payload: led_lights_on ? \"100\" : \"0\" },\n    { topic: \"greenhouse/purplelight\", payload: led_lights_on ? \"80\" : \"0\" },\n    { topic: \"greenhouse/pump\", payload: pump_on ? \"true\" : \"false\" }\n]);\n\nreturn null;",
        "outputs": 9,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 160,
        "wires": [
            [
                "eb5e73effa56c1c5"
            ],
            [
                "911b87b08f743aab"
            ],
            [
                "911b87b08f743aab"
            ],
            [
                "eb5e73effa56c1c5"
            ],
            [
                "eb5e73effa56c1c5"
            ],
            [
                "eb5e73effa56c1c5"
            ],
            [
                "eb5e73effa56c1c5"
            ],
            [
                "eb5e73effa56c1c5"
            ],
            [
                "1dc62dd4f299bb98"
            ]
        ]
    },
    {
        "id": "d955189370e0bfae",
        "type": "mqtt in",
        "z": "749b473ca27a8a87",
        "name": "",
        "topic": "greenhouse/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "46bcdc0d2dd728d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "1ddd955cf28d2381"
            ]
        ]
    },
    {
        "id": "532e727a5aecedae",
        "type": "change",
        "z": "749b473ca27a8a87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "automation_active",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b683fe1361816139",
        "type": "change",
        "z": "749b473ca27a8a87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temperature_minimum",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "5ec1de2d21aa5aa7",
        "type": "change",
        "z": "749b473ca27a8a87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temperature_maximum",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "3962306a1303a1e5",
        "type": "change",
        "z": "749b473ca27a8a87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "humidity_maximum",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "da0d1b298958b51d",
        "type": "change",
        "z": "749b473ca27a8a87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "lux_minimum",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "80ab2a48ad41377b",
        "type": "change",
        "z": "749b473ca27a8a87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "lux_maximum",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "eb5e73effa56c1c5",
        "type": "mqtt out",
        "z": "749b473ca27a8a87",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "46bcdc0d2dd728d0",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "ca8a1536b255342b",
        "type": "change",
        "z": "749b473ca27a8a87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "daylight_start",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "760ed552a7d50368",
        "type": "change",
        "z": "749b473ca27a8a87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "daylight_end",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "911b87b08f743aab",
        "type": "rbe",
        "z": "749b473ca27a8a87",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 770,
        "y": 220,
        "wires": [
            [
                "eb5e73effa56c1c5"
            ]
        ]
    },
    {
        "id": "fd715e11d00322d7",
        "type": "function",
        "z": "749b473ca27a8a87",
        "name": "reset filter node",
        "func": "if (msg.payload === false){\n    msg.reset = true\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 260,
        "wires": [
            [
                "911b87b08f743aab"
            ]
        ]
    },
    {
        "id": "7976261fed068e3d",
        "type": "change",
        "z": "749b473ca27a8a87",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "moisture_threshold",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "b6c9709545b28362",
        "type": "trigger",
        "z": "749b473ca27a8a87",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 930,
        "y": 100,
        "wires": [
            [
                "eb5e73effa56c1c5"
            ]
        ]
    },
    {
        "id": "1dc62dd4f299bb98",
        "type": "switch",
        "z": "749b473ca27a8a87",
        "name": "Activate Pump",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 1,
        "x": 760,
        "y": 100,
        "wires": [
            [
                "b6c9709545b28362"
            ]
        ]
    },
    {
        "id": "25aff18c1e2a3a14",
        "type": "ui-number-input",
        "z": "749b473ca27a8a87",
        "group": "dcae5b5dc522cf4d",
        "name": "",
        "label": "Minimum Temperature (Default: 18°C)",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "30",
        "step": "0.1",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "b683fe1361816139"
            ]
        ]
    },
    {
        "id": "bb560ac29ad3ecdc",
        "type": "ui-number-input",
        "z": "749b473ca27a8a87",
        "group": "dcae5b5dc522cf4d",
        "name": "",
        "label": "Maximum Temperature (Default: 25°C)",
        "order": 3,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": "20",
        "max": "50",
        "step": "0.1",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 350,
        "y": 360,
        "wires": [
            [
                "5ec1de2d21aa5aa7"
            ]
        ]
    },
    {
        "id": "6f46c699605ec58d",
        "type": "ui-number-input",
        "z": "749b473ca27a8a87",
        "group": "dcae5b5dc522cf4d",
        "name": "",
        "label": "Maximum Humidity (Default: 70%)",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "0.1",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 360,
        "y": 400,
        "wires": [
            [
                "3962306a1303a1e5"
            ]
        ]
    },
    {
        "id": "e8cd61d6abe092e9",
        "type": "ui-number-input",
        "z": "749b473ca27a8a87",
        "group": "dcae5b5dc522cf4d",
        "name": "",
        "label": "Minimum Lux (Default: 1000 Lux)",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 360,
        "y": 440,
        "wires": [
            [
                "da0d1b298958b51d"
            ]
        ]
    },
    {
        "id": "a917e5e8da02f0e2",
        "type": "ui-number-input",
        "z": "749b473ca27a8a87",
        "group": "dcae5b5dc522cf4d",
        "name": "",
        "label": "Maximum Lux (Default: 10000 Lux)",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "30000",
        "step": 1,
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 360,
        "y": 480,
        "wires": [
            [
                "80ab2a48ad41377b"
            ]
        ]
    },
    {
        "id": "a76c2a4f97a9ad60",
        "type": "ui-number-input",
        "z": "749b473ca27a8a87",
        "group": "dcae5b5dc522cf4d",
        "name": "",
        "label": "Daylight Start (Default: 7:00)",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "23",
        "step": 1,
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 380,
        "y": 520,
        "wires": [
            [
                "ca8a1536b255342b"
            ]
        ]
    },
    {
        "id": "f9f0708a107b94f2",
        "type": "ui-number-input",
        "z": "749b473ca27a8a87",
        "group": "dcae5b5dc522cf4d",
        "name": "",
        "label": "Daylight End (Default: 21:00)",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "23",
        "step": 1,
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 380,
        "y": 560,
        "wires": [
            [
                "760ed552a7d50368"
            ]
        ]
    },
    {
        "id": "18679dd34ae592f6",
        "type": "ui-number-input",
        "z": "749b473ca27a8a87",
        "group": "dcae5b5dc522cf4d",
        "name": "",
        "label": "Minimum Moisture (Default: 55%)",
        "order": 0,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "90",
        "step": 1,
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 360,
        "y": 600,
        "wires": [
            [
                "7976261fed068e3d"
            ]
        ]
    },
    {
        "id": "3832dfc6cf16cf21",
        "type": "ui-switch",
        "z": "749b473ca27a8a87",
        "name": "",
        "label": "Automation",
        "group": "dcae5b5dc522cf4d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "532e727a5aecedae",
                "1ddd955cf28d2381",
                "fd715e11d00322d7"
            ]
        ]
    },
    {
        "id": "35c5d84875cb6a38",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]